@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    /* background: rgb(249, 247, 255);
    background: -moz-linear-gradient(90deg, rgb(249, 247, 255) 0%, rgb(249, 247, 255) 62%, rgba(48, 76, 207, 0.3925945378151261) 100%);
    background: -webkit-linear-gradient(90deg, rgb(249, 247, 255) 0%, rgb(249, 247, 255) 62%, rgba(48, 76, 207, 0.3925945378151261) 100%);
    background: linear-gradient(90deg, rgb(249, 247, 255) 0%, rgb(249, 247, 255) 62%, rgba(48, 76, 207, 0.3925945378151261) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#304ccf", GradientType=1); */

    background-color: #f3effd;

    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

@keyframes repurpleGlowBlink {
    0%, 100% {
      box-shadow: 0 0 10px 2px rgba(90, 69, 206, 0.1);
    }
    50% {
      box-shadow: 0 0 20px 4px rgba(90, 69, 206, 0.4);
    }
  }
  
  .blink-purple-glow {
    animation: repurpleGlowBlink 1.5s infinite;
  }
  